{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "importOrder": [
        "^@core/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.css",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.config.js",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}